# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
eegdenoise/
.venv/
venv/
env/

# IDE
.vscode/
.idea/
# Literature files
literature/
# OS files
.DS_Store

# Results / outputs
results/**
!results/README.md

# Keep data folder structure if needed
!data/README.md


# Jupyter
.ipynb_checkpoints/

# Build / packaging
build/
dist/
*.egg-info/

